<div class="flex flex-col items-end m-4 border-[1px] bg-white border-gray-200 rounded-xl p-6 shadow-md" id="{{id}}">
    <div class="w-full">
        <div>
            <img src="{{image_url}}" alt="{{title}}" class="w-full h-48 object-cover rounded-lg mb-4">
        </div>
        <h2 class="text-xl font-semibold text-purple-800 mb-4">{{title}}</h2>
        <div class="flex items-center">
            <span class="font-semibold w-24">Date:</span>
            <span>{{start_date}}</span>
        </div>
        <div class="flex items-center">
            <span class="font-semibold w-24">Catégorie:</span>
            <span class="text-gray-600">{{category}}</span>
        </div>
    </div>
    <div class="flex items-end gap-2">
        <button
                class="favorite-btn bg-gray-100 hover:bg-gray-200 text-gray-800 font-medium py-2 px-4 rounded-lg text-center shadow transition"
                data-event-id="{{id}}"
        >
            <span class="favorite-icon">♡</span>
        </button>
        <a href="{{ url }}"
           class="bg-purple-100 hover:bg-purple-200 text-purple-800 font-medium py-2 px-4 rounded-lg text-center shadow transition"
           data-link>Voir plus</a>
    </div>

</div>